.containerer {
    width: 70%;
    background-color:white ;
    border: solid #ffffff;
    border-radius: 20px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px;
    overflow: visible;
    align-items: flex-start;
    color:black ;
}